body {
  background-image: url(./img/game-bg.jpg);
  background-size: cover;
}

.sound-option {
  position: absolute;
  top: 50px;
  right: 44px;
}

img {
  width: 100%;
}

.icon-box{
  width: 40px;
  background-color: white;
  border-radius: 100%;
  padding: 20px;
  cursor: pointer;
  opacity: 0.5;
}

.icon-box:hover {
  opacity: 1;
}

#gameover {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#youwon {
  width: 40%;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#youlose{
  width: 100%;
  margin: 25vh auto;
  display: none;
}

#restart {
  position: absolute;
  top:78%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
}

.neon {
  color: #cce7f8;
  text-align: center;
  font-size: 4rem;
  font-family: "Germania One";
  animation: shining 0.5s alternate infinite;
  padding: 25px;
  cursor: pointer;
  margin: 0 auto;
}

@keyframes shining {
  from {
    text-shadow: 0 0 10px lightblue, 0 0 20px lightblue, 0 0 30px lightblue,
      0 0 40px skyblue, 0 0 50px skyblue, 0 0 60px skyblue;
  }
  to {
    text-shadow: 0 0 5px lightblue, 0 0 10px lightblue, 0 0 15px lightblue,
      0 0 20px skyblue, 0 0 25px skyblue, 0 0 30px skyblue;
  }
}

.game-title {
  width: 50vw;
  background-image: url('./img/vue.jpg');
  background-repeat: no-repeat;
  background-position: top bottom;
  background-size: cover;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

#myCanvas {
  background-image: url(./img/L.jpg);
  background-size: cover;
  background-position: center center;
}

#breakout {
  margin: 10px auto;
  background-image: url(./img/cold.jpg);
  background-size: cover;
  background-position: center;
}