body {
  background-image: url(./img/game-bg.jpg);
}

.game-title {
  width: 50vw;
  background-image: url('./img/vue.jpg');
  background-repeat: no-repeat;
  background-position: top bottom;
  background-size: cover;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 4rem;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
}

#myCanvas {
  background-image: url(./img/L.jpg);
  background-size: cover;
  background-position: center center;
}